version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-vocabhero}
      POSTGRES_USER: ${POSTGRES_USER:-vocabuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-supersecretpassword}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: /app/entrypoint.sh
    volumes:
      - .:/app:rw
      # připojíme data_fixed.json pokud je mimo projekt:
      - ./data_fixed.json:/app/data_fixed.json:ro
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  pgdata:
